target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/architecture/
!**/src/main/resources/lib/
!**/src/main/resources/meta-inf/
!**/src/main/resources/static/
!**/src/main/resources/templates/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/resources/public/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
